{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Здесь вы можете обратиться за помощью:</h3>
<h1 style="text-align: justify;"><strong>Номер горячей линии</strong></h1>
<p style="text-align: justify;"><span style="text-decoration: underline;">+7 321 313 74 38</span></p>
<h1 style="text-align: justify;"><strong>Почта</strong></h1>
<p style="text-align: justify;"><span style="text-decoration: underline;">support@gmail.com</span></p>
{% endblock content %}